@import 'reset';
@import 'colors';
@import 'media-queries';
@import 'typography'

nav {
    background-image:url(../images/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }