#banner-landing,
#banner-landing-2 {
    background-image: url('../../images/banner-01.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    width:100%;
}
#banner-landing-two {
    background-image: url('../../images/banner-02.jpeg');
    padding:70px 0;
}