*,
*:before,
*::before,
*:after,
*::after {
    box-sizing:border-box;
}

/** NAV **/
/* nav {
    background-image: url('/images/header_bg_v2.png');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    width:100%;
} */
.brand-logo {
    left:25px;
}
#banner-one {
    background-image: url('/images/test_background.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    width:100%;
}
#banner-two {
    background-image: url('/images/home-background-02-min.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    width:100%;
    padding:60px 0;
}
#banner-two h2 {
    opacity: 0.8;
}