Nav {
    background-image: url('../../images/nav-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    li a {
        font-weight:bold;
    }
}
.brand-logo {
    left:25px;
}
.current {
    background-color: rgba(0,0,0,0.2);
}
