//register SCSS goes here..
<<<<<<< HEAD
#form {
  background-color:#eee;
  position:relative;
  display:block;
  margin:0 auto;
  padding:10px 50px;
  width:300px;
  max-width:300px;
  text-align:center;
  input {
    width:auto;
    
  }
}
::placeholder {
  color:#000;
}
=======
#register {
    padding:40px 20px;
    margin-top:80px;
    margin-bottom:80px;
    .row {
    padding:2px 0;
    margin-bottom:0;
    }
    .row:first-child{
    padding-top:30px;
    }
    .row:last-child {
    padding-bottom:30px;
    }
}
::placeholder {
    color:#000;
}
>>>>>>> f0fc7f180f2fdb6cb043707ae1ff7a26130bafd5
